<section class="main">

  <div class="header">
    <a href="<%= page_path('home') %>">
      <img class="header__img" src="<%= image_path('logo_white_small.png') %>"/>
    </a>
  </div>

  <h1 class="callout">Upcoming Events</h1>

  <div class="row event">
    <div class="col-md-6 event__date">
      <p>Thursday, October 23, 2014 7:00 pm</p>
    </div>
    <div class="col-md-6 event__details">
      <p>
      <a href="http://edwardneeman.com">Edward</a> and <a href="http://stephaniepianist.com">Stephanie</a> Neeman, piano<br/>
      <a href="http://www.cincinnatiarts.org/weston-art-gallery">Weston Art Gallery - Aronoff Center for the Arts</a><br/>
      Free Admission. Hors d'oeuvres and cash bar available<br/>
      <a href="http://www.eventbrite.com/e/salon21-season-opening-concert-tickets-10107003319">RSVP</a>
      </p>
    </div>
  </div>

  <div class="row event">
    <div class="col-md-6 event__date">
      <p>Thursday, January 29, 2015 7:00 pm</p>
    </div>
    <div class="col-md-6 event__details">
      <p>
      <a href="http://www.mycincinnatiorchestra.org/staff">Laura Jekel</a>, cello and <a href="http://jeonginkim.com">Jeong-In Kim</a>, piano<br/>
      <a href="http://www.cincinnatiarts.org/weston-art-gallery">Weston Art Gallery - Aronoff Center for the Arts</a><br/>
      Free Admission. Hors d'oeuvres and cash bar available<br/>
      </p>
    </div>
  </div>

  <div class="row event">
    <div class="col-md-6 event__date">
      <p>Thursday, May 21, 2015 7:00 pm</p>
    </div>
    <div class="col-md-6 event__details">
      <p>
      <a href="http://www.xavier.edu/campusuite25/modules/faculty.cfm?faculty_id=3140&grp_id=31">Polina Bespalko</a>, piano<br/>
      <a href="http://www.cincinnatiarts.org/weston-art-gallery">Weston Art Gallery - Aronoff Center for the Arts</a><br/>
      Free Admission. Hors d'oeuvres and cash bar available<br/>
      </p>
    </div>
  </div>

  <div class="row event">
    <div class="col-md-6 event__date">
      <p>Wednesday, June 24, 2015 7:00 pm</p>
    </div>
    <div class="col-md-6 event__details">
      <p>
      Salon21 Project Concert - Stay tuned for details<br/>
      <a href="http://www.cincinnatiarts.org/weston-art-gallery">Weston Art Gallery - Aronoff Center for the Arts</a><br/>
      Free Admission. Hors d'oeuvres and cash bar available<br/>
      </p>
    </div>
  </div>

  <h1 class="callout">Past Events</h1>

  <div class="event text--center">
    <h1 class="event__title">Salon 21 Kickoff Concert Featuring Pianist Jeongin Kim</h1>
    <p class="event__body">Thursday, May 15, 2014</p>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "2014-05-15_weston_gallery_1.jpg" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "2014-05-15_weston_gallery_2.jpg" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "2014-05-15_weston_gallery_3.jpg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="event text--center">
    <h1 class="event__title">Memorial Hall Signature Series</h1>
    <p class="event__body">Friday, April 18, 2014</p>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "2014-04-14_memorial_hall_1.jpg" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "2014-04-14_memorial_hall_2.jpg" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "2014-04-14_memorial_hall_3.jpg" %>
        </div>
      </div>
    </div>
  </div>
</section>
