<section class="main">

  <div class="header">
    <a href="<%= page_path('home') %>">
      <img class="header__img" src="<%= image_path('logo_white_small.png') %>"/>
    </a>
  </div>

  <h1 class="callout">Upcoming Events</h1>

  <div class="event text--center">
    <h1 class="event__title">Salon 21 Kickoff Concert</h1>
    <p class="event__body">
      Featuring Pianist Jeongin Kim</br>
      Thursday, May 15 2014</br>
      7pm<br/>
      <a href="http://www.cincinnatiarts.org/weston-art-gallery">Aronoff Center - Weston Art Gallery</a><br/>
      Free Admission. Hors d'oeuvres and cash bar available<br/>
    </p>
  </div>

  <h1 class="callout">Past Events</h1>

  <div class="event text--center">
    <h1 class="event__title">Memorial Hall Signature Series</h1>
    <p class="event__body">
      Friday, April 18 2014
    </p>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "2014-04-14_memorial_hall_1.jpg" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "2014-04-14_memorial_hall_2.jpg" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "2014-04-14_memorial_hall_3.jpg" %>
        </div>
      </div>
    </div>
  </div>

</section>
