<!DOCTYPE html>
<html>
<head>
  <title>Salon21</title>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta name="description" content="Intimate classical music concerts in unexpected places"/>
  <meta name="author" content="Salon21"/>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="top-bar">
    <nav class="top-bar__nav">
      <ul class="nav nav--primary">
        <li class="nav__item nav__item--image">
          <a class="nav__link" href="<%= root_path %>">
            <img class="nav__img" src="<%= image_path('logo_letter.png') %>"/>
          </a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="<%= page_path("about") %>">about</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="<%= page_path("events") %>">events</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="<%= page_path("contact") %>">contact</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="<%= page_path("support") %>">support</a>
        </li>
      </ul>

      <ul class="nav nav--secondary">
        <li class="nav__item nav__item--icon">
          <a class="nav__icon" href="https://www.facebook.com/salon21cincinnati"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li class="nav__item nav__item--icon">
          <a class="nav__icon" href="https://twitter.com/salon21cincy"><i class="fa fa-twitter-square"></i></a>
        </li>
      </ul>
    </nav>
  </div>

  <%= yield %>

</body>
</html>
